* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

a {
    outline: none;
    color: inherit;
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    user-select: none;
    display: block;
}

button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    font-family: inherit;
    color: inherit;
}

textarea,
input {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-align: start;
    font-family: inherit;
    color: inherit;
}

textarea {
    resize: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

input[type="checkbox"],
input[type="radio"],
input[type="file"] {
    cursor: pointer;
}